@using BlazorApp.Data;

<p>
    User: <b>@Users.Count</b>
</p>


<br />

<ul class="list-group">
    @foreach (var user in Users)
    {
        <li @key="user">
            <button type="button" class="btn btn-link" @onclick="()=>KickUser(user)">[Kick]</button>
            <label style="color:@Color">@user.Name</label>
        </li>
    }
</ul>

@code {
    [CascadingParameter(Name ="ThreeColor")]
    string Color { get; set; }

    [Parameter]
    List<UserData> Users { get; set; }

    [Parameter]
    public EventCallback CallbackTest { get; set; }


    protected override void OnInitialized()
    {
        Users.Add(new UserData() { Name = "Faker" });
        Users.Add(new UserData() { Name = "Deft" });
        Users.Add(new UserData() { Name = "Rokiss" });
    }
    public void AddUser(UserData user)
    {
        Users.Add(user);
    }
    public void KickUser(UserData user)
    {
        Users.Remove(user);

        CallbackTest.InvokeAsync(null);
    }
}

